<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/api.css">
    <link rel="stylesheet" href="./css/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="topnav container-fluid">  
        <a href="contact">Contact us</a>
        <a href="dinners">dinners</a>
        <a href="cuisnes">blog</a>
        <a href="ingredients">ingredients</a>
        <a href="occasions">occasions</a>
        <a href="meals">meals</a>
        <a href="about">About us</a>
        <a class="active" href="/">Home</a>

        <output class="container container d-flex justify-content-around p-2 flex-fill">
            <div class="container" id="output">
                <!-- where data will be rendered in tables -->
                <table id="show">
                    <span id="mealName"></span>
                    <img class="img-fluid rounded-start" id="imgBtn" src="" alt="">
                </div>
                
            </div>
        </output>

        <script src="./js/main.js"></script>
</body>
</html>