<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/remixicon.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>

<div class="topnav container-fluid">  
    <a href="contact">Contact us</a>
    <a href="dinners">dinners</a>
    <a href="cuisnes">blog</a>
    <a href="ingredients">ingredients</a>
    <a href="occasions">occasions</a>
    <a href="meals">meals</a>
    <a href="about">About us</a>
    <a class="active" href="/">Home</a>
  
    <div class="search-container">
          <span id="color">tasty city</span> 
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </div>
  </div>
   

  <h1>Welcome to Contact Page</h1>

    <footer>
        <div class="footer-links">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
          <!-- Add more links as needed -->
        </div>
        <p id="in1">&copy; 2023 Your Food Recipe Website</p>
      
      <div class="row container imgj">
        <a href=""><img class="imgi" src="./images/twitter icon.jpg" alt=""></a>
        <a><img class="imgi" src="./images/watsapp.jpeg" alt=""></a>
        <img class="imgi" src="./images/social-instagram-icon-1024x1024-qshv5qmi.png" alt="">
        <img class="imgi" src="./images/facebook icon.png" alt="">
        <img class="imgi" src="./images/670020.png" alt="">
        <img class="imgi" src="./images/linkedin_black_logo_icon_147114.png" alt="">
        </div><br>
         
      </footer>
</body>

</html>