<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/main.css">
<!-- <link rel="stylesheet" href="./css/remixicon.css"> -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="shortcut icon" href="./images/download.jpeg" type="image/x-icon">

</head>
<body class="body">
    



<div class="topnav container-fluid">  
  <a href="contact">Contact us</a>
  <a href="dinners">dinners</a>
  <a href="cuisnes">blog</a>
 
  <a id="ingredients" href="ingredients">ingredients </a>
  <div class="dropdown-content">
  <a href="">f</a>
  <a href="">fo</a>
  <a href="">fl</a>
  <a href="">fk</a>
  </div>

 
  
  <a href="occasions">occasions</a>
  <a href="meals">meals</a>
  <a href="about">About us</a>
  <a class="active" href="home">Home</a>

  <div class="search-container">
        <span id="color">tasty city</span> 
      <input type="text" placeholder="Search.." name="search" id="search">
      <button type="submit" id="submit" >Search </button>
  </div>
  <!-- <div id="txtContent"></div> -->
</div>



<output class="container container d-flex justify-content-around p-2 flex-fill">
    <div class="container" id="output"></div>
</output>

<script src="./js/main.js"></script>
</body>
</html>